{
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "prismjs",
      {
        "languages": ["js", "jsx", "ts", "tsx", "scss", "html"]
      }
    ]
  ],
  "presets": [
    [
      "next/babel",
      {
        "class-properties": {
          "loose": true
        }
      }
    ]
  ]
}
