{
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    [
      "prismjs",
      {
        "languages": ["js", "jsx", "ts", "tsx", "scss", "html"]
      }
    ]
  ],
  "presets": ["next/babel", "@zeit/next-typescript/babel"]
}
