.container {
  display: flex;
  font-family: var(--serif);
  padding: 2em 2em 1.25em;
}

.title {
  font-size: 2.125em;
  line-height: 1.5em;

  &:hover {
    text-decoration: underline;
  }
}

.items {
  font-size: 2.125em;
  margin-left: 1.5em;
}

.item :hover {
  text-decoration: underline;
}
.item + .item {
  margin-top: 0.25em;
}
