.nav {
  font-size: 1.5rem;
  list-style: none;
  margin-top: 4rem;
}

.navItem {
  margin-top: 2rem;
}

.outlinks {
  display: flex;
  margin-top: (40rem / 16);

  & > * + * {
    margin-left: (12rem / 16);
  }
}
