%postBody {
  font-family: var(--serif);

  & > * + * {
    margin-top: 0.75em;
  }

  & h1 {
    font-family: var(--sans-serif);
    font-size: 4.8rem;
    margin-bottom: 2rem;
  }

  & h2 {
    font-size: 1.8rem;
    margin-bottom: 0.75rem;
    opacity: 0.76;
  }

  p {
    margin: 0.75rem 0;
  }

  & a {
    color: cornflowerblue;
    text-decoration: underline;
  }

  & code {
    background: rgba(#fff, 0.2);
    border-radius: 0.25rem;
    display: inline-block;
    padding: 0 0.2em;
  }

  & img {
    max-width: 100%;
  }

  & pre {
    background: none !important;
    padding: 0.5rem 0.5rem 1rem;
  }

  & pre > code {
    box-shadow: rgba(0, 0, 0, 0.2) 0 0.25em 1em;
    display: block;
    font-size: 1.1em;
    line-height: 1.5;
    padding: 1em;
  }
}
