@font-face {
  font-display: swap;
  font-family: 'Spoqa Han Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url('/static/fonts/spoqa-han-sans-Thin.woff2') format('woff2'),
    url('/static/fonts/spoqa-han-sans-Thin.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Spoqa Han Sans KR';
  font-style: normal;
  font-weight: 200;
  src: url('/static/fonts/spoqa-han-sans-Light.woff2') format('woff2'),
    url('/static/fonts/spoqa-han-sans-Light.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Spoqa Han Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/spoqa-han-sans-Regular.woff2') format('woff2'),
    url('/static/fonts/spoqa-han-sans-Regular.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Spoqa Han Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/spoqa-han-sans-Bold.woff2') format('woff2'),
    url('/static/fonts/spoqa-han-sans-Bold.woff') format('woff');
}

* {
  box-sizing: border-box;
}

html {
  --bg: #1a1e1f;
  --fg: #fafafa;
  --sans-serif: 'Spoqa Han Sans KR', sans-serif;
  --serif: 'Noto Serif KR', serif; /* [todo] */
  font-family: var(--sans-serif);
  user-select: none;
}

html,
body,
#__app,
#__next {
  height: 100%;
  overflow-x: hidden;
}

#__next {
  background: var(--bg);
  color: var(--fg);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  font-size: 1em;
  font-weight: 400;
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

#nprogress .bar {
  height: auto;
  background: var(--fg);
  bottom: 0;
  z-index: 1000009;
}
#nprogress .peg {
  display: none;
}
